
<div th:fragment="modal-clave">
    <div class="right-panel">
        <form th:action="@{actualizarclave/__${usuario.id}__}" method="POST">
            <div class ="texto">

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Cambiar clave</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">Contraseña actual</label>
                                    <input class="form-control input-lg" name="passwordold" placeholder="******" type="password" id = "oldpw" required>
                                </div>

                                <div class="mb-3">
                                    <label for="message-text" class="col-form-label">Nueva contraseña</label>
                                    <input class="form-control input-lg" name="passwordnew" placeholder="******" type="password" id = "newpw" required>
                                </div>

                                <div class="mb-3">
                                    <label for="message-text" class="col-form-label">Repetir nueva contraseña</label>
                                    <input class="form-control input-lg" name="passwordconf" placeholder="******" type="password" id = "confirmpw" required>
                                </div>
                                
                                <div th:replace="~{/fragments/error :: errores1}"></div>

                                <p class="mb-4" style="color: #FF0000" id = "campo"></p>
                                <button type="submit" class="btn btn-primary mt-2">Cambiar contraseña</button>

                                <button class="btn btn-primary mt-2" id="botonVolver" onclick="goBack()">Volver</button>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
