<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4  container">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
      <svg class="bi" width="30" height="24">
        <use xlink:href="#bootstrap"></use>
      </svg>
    </a>
    <span class="mb-3 mb-md-0" style="color: azure">© 2023 Soluciones Activas, Inc</span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <!-- Facebook -->
    <li><a style="color: #3b5998;" href="https://www.facebook.com/profile.php?id=100094333417044" role="button" target=”_blank”>
        <i class="fab fa-facebook-f fa-lg px-2"></i>
      </a></li>

    <!-- Twitter -->

    <li><a style="color: #55acee;" href="#!" role="button" target=”_blank”>

        <i class="fab fa-twitter fa-lg px-2"></i>
      </a></li>

    <!-- Instagram -->

    <li><a style="color: #ac2bac;" href="https://www.instagram.com/sactivas/" role="button" target=”_blank”>

        <i class="fab fa-instagram fa-lg px-2"></i>
      </a></li>
  </ul>
</footer>

<!--   <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="https://twitter.com/intent/tweet" target="_blank"></use></svg></a></li>
        <li class="ms-3"><a class="text-body-secondary mob-menu-social-link m-in" href="https://www.instagram.com/sactivas/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"-->