<header class="p-3 mb-3 navbar navbar-expand-lg bd-navbar sticky-top" id="header-fixed">


    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <a class="navbar-brand" th:if="${session.usuariosession!= null }" href="/inicio">
                <img src="/IMG/Logo1-sin-fondo.png" alt="Logo" width="40" height="36"
                     class="d-inline-block align-text-top">
            </a>

            <a class="navbar-brand" th:if="${session.usuariosession == null }" href="/">
                <img src="/IMG/Logo1-sin-fondo.png" alt="Logo" width="40" height="36"
                     class="d-inline-block align-text-top">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ml-auto">
                <li><a href="/inicio" class="nav-link px-2 link-secondary" style="color: azure">Inicio</a></li>

                <li><a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/dashboard}"
                       class="nav-link px-2 link-body-emphasis" style="color: azure">Dashboard</a></li>

                <li th:if="${cantSolict > 0 }"><a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/autorizar_solicitudes_nuevo}"

                                                  class="nav-link px-2 link-body-emphasis" style="color: azure"
                                                  th:text="'Solicitudes pendientes (' + ${cantSolict} + ')'"></a></li>       

                <li><a sec:authorize="hasRole('PROVEEDOR')" th:href="@{/proveedor/solicitudes}"
                       class="nav-link px-2 link-body-emphasis" style="color: azure"
                       th:text="'Solicitudes pendientes (' + ${cantidadContratosSolicitados} + ')'"></a></li>
            </ul>
        </div>
    </div>

    <div class="text-end">
        <form th:action="@{/buscar}" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 ml-auto " role="search">
            <input th:value="${palabraClave}" class=" form me-2 searcherinput" id="palabraClave" name="palabraClave"
                   type="text" placeholder="Search" aria-label="Search">
        </form>
    </div>

    <div th:if="${session.usuariosession != null}" class="dropdown text-end m1-auto ">

        <a class="d-block link-body-emphasis text-decoration-none dropdown-toggle dropdown-toggle"
           data-bs-toggle="dropdown" aria-expanded="false">
            <img id="fotoPerfil" th:if="${session.usuariosession != null and session.usuariosession.fotoPerfil !=null }"
                 th:src="@{/imagen/perfil/__${session.usuariosession.id}__}" alt="imegen perfil" class="rounded-circle"
                 width="50" height="50" />
            <img th:if="${session.usuariosession != null and session.usuariosession.fotoPerfil ==null }"
                 src='/IMG/USER.GIF' alt="alt" class="rounded-circle" width="50" height="50" />
        </a>

        <ul sec:authorize="hasAnyRole('USUARIO','ADMIN')" class=" dropdown-menu dropdown-menu-end">

            <li><a href="/usuario/mi_perfil_usuario" class="dropdown-item"> Mi Perfil</a></li>
            <li><a href="/usuario/mis_contratos_usuario" class="dropdown-item">Mis Contratos</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a href="/logout" class="dropdown-item">Cerrar Sesion</a></li>

        </ul>

        <ul sec:authorize="hasAnyRole('PROVEEDOR','ADMIN')" class=" dropdown-menu dropdown-menu-end">
            <li><a href="/proveedor/mis_contratos_proveedor" class="dropdown-item">Mis Contratos</a></li>
            <li><a href="/proveedor/mi_perfil_proveedor" class="dropdown-item"> Mi Perfil</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a href="/logout" class="dropdown-item">Cerrar Sesion</a></li>
        </ul>
    </div>

    <div class="d-flex justify-content-end">
        <div>
            <a type="button" class="btn btn-secondary" th:if="${session.usuariosession == null}" href="/login">Login</a>
        </div>
        <div class="dropdown ml-2">
            <a type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown"
               th:if="${session.usuariosession == null}">Registrarse</a>
            <ul class="dropdown-menu text-small dropdown-menu-end">
                <li><a class="dropdown-item" href="/registrar">Soy Cliente</a></li>
                <li><a class="dropdown-item" href="/registrarproveedor">Soy Proveedor</a></li>
            </ul>
        </div>
    </div>
    <!--onerror="this.onerror = null; this.src='/IMG/USER.GIF'"-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

</header>

