
<nav th:fragment="nav1" class="navbar navbar-expand-lg navBar">
    <div class="containerImg">
        <a href="/" class="navbar-brand d-flex align-items-center">
            <!--<img class="logo" src="/IMG/android-chrome-192x192.png" alt="Img Soluciones Activas">-->
        </a>
    </div>
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse elementosNav" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto elementos">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Usuario
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li><a class="dropdown-item"  sec:authorize="hasAuthority('ADMIN')" th:href="@{/libro/registrar}">Crear Usuario</a></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item" th:href="@{/usuario_list}">Listar Usuario</a></li>
                </ul>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Autores
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li><a class="dropdown-item"  sec:authorize="hasAuthority('ADMIN')" th:href="@{/autor/registrar}">Crear Autor</a></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item" th:href="@{/autor/autores}">Listar Autores</a></li>
                </ul>
            </li>



            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Editoriales
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li><a class="dropdown-item"  sec:authorize="hasAuthority('ADMIN')" th:href="@{/editorial/registrar}">Crear Editorial</a></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item" th:href="@{/editorial/editoriales}">Listar Editoriales</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" sec:authorize="hasAuthority('ADMIN')"> Perfil  </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/perfil" >Editar Perfil</a></li>
                    <li><a class="dropdown-item" href="/logout" >Cerrar Sesión</a></li>
                </ul>
            </li>-->

    <div>
        <ul>
            <li class="nav-item">
                <a class="nav-link " th:if="${session.usuariosession == null}" href="/registrar" id="navbarDropdown" role="button" aria-expanded="false">
                    Registrate!
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link " th:if="${session.usuariosession == null}" href="/login" id="navbarDropdown" role="button" aria-expanded="false">
                    LOGIN!
                </a>

            </li>
        </ul>
    </div>
</nav>


<!---------------------------------PRueba Hernan --------------------->

<nav th:fragment="nav_bar2" class="search navbar inicial navbar-expand-md z-1">


    <div class="containerImg logo">
<!--        <a href="/" class="navbar-brand d-flex align-items-center">

            <img class="logo" src="/IMG/Logo SolucionesActivas 2 con Color V1.jpg"  alt="Img Soluciones Activas">

        </a>-->
    </div>
    
    <div class="logo container-fluid">
        <a class ="navbar-brand" th:href="@{/}">Soluciones Activas</a>
    </div>

    <div th:if="${session.usuariosession != null}" class="navpanel">
        <div class="navpanel navDashboard z-1 position-absolute">

            <!----ESTO SOLO LO VE EL ADMIN -->
            <li sec:authorize="hasRole('ADMIN')" class="d-flex nav-item dropdown navpanel">                
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    &nbsp USUARIOS
                </a>
                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" >
                    <li><a href="/admin/altaperiodista"  class="dropdown-item">USUARIOS    </a></li>
                    <li><a href="/admin/listaPeriodistas" class="dropdown-item">PROVEEDORES</a></li>
                    <li><a  href="/admin/listaPeriodistas" class="dropdown-item">AUTORIZACIONES </a></li>
                    <li><a  href="/admin/listaPeriodistas" class="dropdown-item">ELIMINAR USUARIOS</a></li>
                    <li><a href="#" class="dropdown-item">ELIMINAR COMENTARIOS</a></li> 

                </ul>
            </li>



            <!---- LO QUE VE EL USUARIO (CLIENTE) -->
            <li sec:authorize="hasAnyRole('ADMIN','PROVEEDOR','USUARIO')" class="d-flex nav-item dropdown navpanel">                
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    &nbsp CONTRATOS  
                </a>
                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" >
                    <li><a href="/admin/crear"        class="dropdown-item">COMPROBANTES </a></li>
                    <li><a href="/admin/listaNoticias" class="dropdown-item">MIS PREGUNTAS</a></li>
                    <li><a href="/admin/listaNoticias" class="dropdown-item">CALIFICAR UN PROVEEDOR</a></li>
                    <!--TH:REF =@{ADMIN/ELIMINAR }-->

                </ul>
            </li>

            <!---- LO QUE VE EL USUARIO  -->
            <li sec:authorize="hasAnyRole('ADMIN','PROVEEDOR','USUARIO')" class="d-flex nav-item dropdown navpanel">                
                <a th:text="${session.usuariosession.nombre}" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    &nbsp <i class="bi bi-house"></i> 
                </a>
                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" >
                    <li><a href="/dashboard" class="dropdown-item">MI PERFIL    </a></li>
                    <li><a href="/cargarImagen" class="dropdown-item">Cargar Imagen</a></li>
                    <li><a href="/logout"          class="dropdown-item">CERRAR SESION</a></li>
                </ul>
            </li>

            <div>
                <a > <img th:src="@{/imagen/perfil/__${session.usuariosession.id}__}" class="fotoperfiluser" alt="alt"/></a>
            </div>

        </div>
    </div>



    <div th:if="${session.usuariosession ==null}" class="form-button botondelogin">
        <a href="/registrar"  type="button" class="btn btn botondelogin ">Registrate</a>
    </div>

    <div th:if="${session.usuariosession ==null}" class="form-button botondelogin">
        <a href="/login"  type="button" class="btn btn-danger botondelogin ">Login</a>
    </div>


</nav>




<!--. nav3.-->
<nav th:fragment="nav_bar3" class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">


        <a class="navbar-brand" href="#">Soluciones Activas</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">

            <div class="offcanvas-header">
                <h5 th:text="${session.usuariosession.nombre}">  </h5>
                <!--        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Nombre</h5>-->
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">


                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Mi Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mis contatos
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="#">Activos</a></li>
                            <li><a class="dropdown-item" href="#">Finalizados</a></li>
                            <li><a class="dropdown-item" href="#"> </a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>



                </ul>
                <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</nav>