<div th:fragment="modal-suspender-cuenta">
    <div class="right-panel">
        <form th:action="@{suspender_mi_cuenta/__${usuario.id}__}" class="formulario form-control "  method="POST">
            <div class ="texto">

                <div class="modal fade" id="modalSuspenderCuenta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">No mostrar Perfil</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                
                                
                                <div th:replace="~{/fragments/error :: errores1}"></div>

                                <p class="mb-4" style="color: #FF0000" id = "campo"></p>
                                <button type="submit" class="btn btn-primary mt-2">Confirmar</button>

                                <button class="btn btn-primary mt-2" id="botonVolver" onclick="goBack()">Volver</button>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
