<div th:fragment="tarjetaproveedor">
  <!--   <div class="card-body d-flex align-items-center">
        <div>
            <img th:src="@{/imagen/perfil/__${proveedor.id}__}" alt="imagen perfil" class="rounded-circle" width="130"
                height="130" />
        </div>
        <div class="p-2">
            <h5 class="card-title" th:text="${proveedor.nombre} + ' ' + ${proveedor.apellido}"></h5>
            <p class="card-text" th:each="serv : ${proveedor.servicios}" th:text="${serv.serv_descripcion}"></p>
            <div class="link text-center">
                <a th:href="@{/proveedor/__${proveedor.id}__}">Contactar</a>
            </div>
        </div>
    </div> -->




  <div class="container">
    <div class="card" style="width: 30rem;">
      <div class="row">
        <div class="col d-flex align-items-stretch">
          <img th:src="@{/imagen/perfil/__${proveedor.id}__}" class="card-img-top" style="width: 300px; height: 348px;"
            alt="Foto Perfil">
        </div>
        <div class="col text-center d-flex flex-column">
          <div class="card-body">
            <img src="/IMG/ICONS_SERVICIOS/ELECTRICISTA.png" style="width: 30%;" alt="Icono Servicio">
            <h5 class="card-title" id="nombreCard" th:text="${proveedor.nombre} + ' ' + ${proveedor.apellido}"></h5>
            <hr>
            <span id="span-card" th:each="serv : ${proveedor.servicios}" th:text="${serv.serv_descripcion}"></span>
           <!--  <ul class="list-group list-group-flush">
            <li class="list-group-item">Trabajos en altura</li>
            <li class="list-group-item">Instalacion de cable a tierra</li>
            <li class="list-group-item">Presupuesto sin cargo</li>
          </ul> -->
            <hr>
            <div class="container">
              <a th:href="@{/proveedor/__${proveedor.id}__}" class="btn btn-dark btn-rounded">Contratame</a>
              <a th:href="@{|https://web.whatsapp.com/send?phone=${proveedor.telefono}|}" class="btn btn-success btn-rounded" target="_blank">MSG
                Whatsapp</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




</div>