<div th:fragment="tarjetaproveedor">
   <div class="container">
    <div class="card" style="width: 30rem;">
      <div class="row">
        <div class="col d-flex align-items-stretch">
          <img th:src="@{/imagen/perfil/__${proveedor.id}__}" class="card-img-top" style="width: 300px; height: 348px;"
            alt="Foto Perfil">
        </div>
        <div class="col text-center d-flex flex-column">
          <div class="card-body">
            <img src="/IMG/ICONS_SERVICIOS/ELECTRICISTA.png" style="width: 30%;" alt="Icono Servicio">
            <h5 class="card-title" id="nombreCard" th:text="${proveedor.nombre} + ' ' + ${proveedor.apellido}"></h5>
            <hr>
            <span id="span-card" th:each="serv : ${proveedor.servicios}" th:text="${serv.serv_descripcion}"></span>
            <hr>
            <div class="container">
              <a th:href="@{/proveedor/__${proveedor.id}__}" class="btn btn-dark btn-rounded">Contratame</a>
              <a th:href="@{|https://web.whatsapp.com/send?phone=${proveedor.telefono}|}" class="btn btn-success btn-rounded" target="_blank">MSG
                Whatsapp</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




</div>