@import '~mdb-ui-kit/css/mdb.min.css';


.navBar{
    background-color: #fff !important;
}

.elementosNav{
    display: flex;
    width: 30%;
    justify-content: space-between;
    color: #37474f;
    font-weight: 700;
}
.card-title{
    font-size: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.elementos{
    margin-right: 50px;
}

.containerImg{
    width: 20%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 100%;
}

.formulario {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .formulario .form-group {
    margin-bottom: 20px;
  }
  
 
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  
  .botones {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
  }
  
  
  @media (max-width: 600px) {
    .formulario {
      max-width: 100%;
    }
  }

  .formulario .direccion {
    display: flex;
    justify-content: space-between;

  }