.footer-alpiso{
    
    min-height: 100vh
    
    
}

.contenedor {
    border: 5px;
   max-width: 1500px;
   width: 130%;
   margin: auto;

   display: grid;
   grid-template-columns: 2fr 1fr; 
   gap: 0.5px;
}

.right-panel {
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;



    display: grid;
    grid-template-columns: 1fr;

}

.right-panel .texto {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    text-align: center;
    width: 70%;
    margin: auto;
}



#mainindex {
    
    background-image: url("https://img.freepik.com/free-photo/variety-handy-tools-dark-background-labor-day-background-concept_1150-41808.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ParrafoIndex{
    
    font-family: sans-serif;
    font-style: italic;
    color: azure
    
    
}

.TitutloIndex{
    
    color: azure
}




