@import '~mdb-ui-kit/css/mdb.min.css';
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

*{
    font-size: 20px;

}

.footer-alpiso {
    min-height: 80vh;
}

.contenedor {
    border: 5px;
    max-width: 1500px;
    width: 130%;
    margin: auto;

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0.5px;
}

.right-panel {
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr;
}

.right-panel .texto {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 70%;
    margin: auto;
}

#mainindex {
    background-image: url("https://img.freepik.com/free-photo/variety-handy-tools-dark-background-labor-day-background-concept_1150-41808.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ParrafoIndex {
    font-family: sans-serif;
    font-style: italic;
    color: azure;
}

.TitutloIndex {
    color: azure;
}


.login {
    background-image: url("https://img.freepik.com/free-photo/check-lock-wooden-table-background_93675-128371.jpg");
    background-repeat: no-repeat;
}

/* ----------- INICIO DASHBOARD ---------------*/
#dashboard {

    background-color: #2a363b;
    /*  background-repeat: no-repeat;*/
    background-position: center;
    background-size: 90%;

}


#contendero-sidemenu-main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: #2a363b;
    width: 60%;
    flex-wrap:wrap;
}
.sidebar-menu-btones{
    border: none;

    text-align: left;
    text-decoration: none;
    
    justify-content: center;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;


}


#menu-dashboard {
    display: flex;
    position: relative;
    flex-direction:column;
    min-width: 230px;
    

}

.sidebar {
    background-color: #2a363b;
    color: #fff;
    padding: 5%;
    width: 100%;
    height: 100%;
}

.sidebar-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 00px 0;
}

.sidebar-menu ul li {
    margin-bottom: 10px;
}

.sidebar-menu ul li a {
    color: #fff;
    text-decoration: none;
}

.sidebar-menu ul li a:hover {
    text-decoration: underline;
}


/*--- MAIN DEL DASHBOARD */
#main-dashboard{
   background-color:#37474f;
   display: inline-grid;
  
   width: 180%;
    
}

/* ----------- Fin Dashboard ---------------*/


/*-------------tarjetas de lilsta proveedor-----------*/

#nombreCard {

    font-family: 'Lobster Two', cursive;
    font-size: 35px;

  }

  #span-card {

    font-family: 'Arvo', serif;
    font-size: 20px;

  }

  /*-----------------fin----------------------------*/

  

  #card-index{


        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 32px;
        

  }

  

