<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="fragments/head :: head"> </head>

    <body>

        <br>
        <form style="width:800px; margin:0 auto;" type="form" th:action="@{/contrato/aceptar_contrato}" method="POST">
            <br>
            <label for="idUsuario">ID de contrato</label>
            <input type="text" name="idContrato" th:value="${idContrato}">
            <!--            <br>
                        <br>
                        <label for="idProveedor">ID de proveedor</label>
                        <input type="text" name="idProveedor" th:value="${idProveedor}">
                        <br>
                        <br>-->
            <button type="submit" name="decision" th:value="aceptar">Aceptar contrato</button>
            <button type="submit" name="decision" th:value="rechazar">Rechazar contrato</button>
        </form>

        <!-- ERRORES -->
        <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError" >
            <div class="card-body">
                <h5 class="card-title">Error!</h5>
                <p class="card-text" th:text="${error}"></p>
            </div>
        </div>
        <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
            <div class="card-body">
                <h5 class="card-title">Exito!</h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
        </div>

    </body>

</html>
