<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="~{/fragments/head :: head}"></head>
    <body class="d-flex flex-column">
        <header th:replace="~{/fragments/header :: header}"></header>

        <main class="flex-grow-1 container-fluid d-flex flex-column align-items-center footer-alpiso">
            <div class=" container" >


                <h3> Solicitudes Pendientes Proveedores </h3>


                <table class="table table-dark" th:each="prov : ${proveedoresInactivos}">

                    <thead class="align-items-center">
                        <tr >
                            <th scope="col">archivo</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Dni</th>
                            <th scope="col">email</th>
                            <th scope="col">telefono</th>
                            <th scope="col">Fecha Alta </th>
                            <th scope="col">Estado </th>
                            <th scope="col">Cambiar Estado </th>
                           
                            
                            
                        </tr>

                    </thead>
                    <tbody > 
                        <tr>
                            <td > <img th:if="${prov.fotoPerfil != null}" th:src="@{/imagen/perfil/__${prov.id}__}" width="50" height="50" alt="foto_serv"> </td>
                            <td scope="row" th:text="${prov.nombre}"></td>
                            <td th:text="${prov.apellido}"></td>
                            <td th:text="${prov.dni}"></td>
                            <td th:text="${prov.email}"></td>
                            <td th:text="${prov.telefono}"></td>
                             <td th:text="${prov.fechaAlta}"></td>
                            <td th:text="${prov.estadoProveedorActivo}"></td>
                           

                            <td>
                             <button type="button" class="btn btn-danger form-control mb-3" data-bs-toggle="modal" data-bs-target="#modalCambiarRol" >Activar</button>
                               
                            </td>
                        </tr>
                    </tbody>
                    
                    
                    
                     <!----MODAL DE SUSPERNDER CUENTA ---->
                                                
                                                <form th:action="@{/admin/autorizar_proveedor/__${prov.id}__}" class="formulario form-control "  method="POST">
                                                    <div class ="texto">

                                                        <div class="modal fade" id="modalCambiarRol" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Cambiar Rol</h1>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">



                                                                        <div th:replace="~{/fragments/error :: errores1}"></div>

                                                                        <p class="mb-4" style="color: #FF0000" id = "campo"></p>
                                                                        <button type="submit" class="btn btn-primary mt-2">Confirmar</button>

                                                                        <button class="btn btn-primary mt-2" id="botonVolver" onclick="goBack()">Volver</button>

                                                                    </div>


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                 <!----FIN MODAL DE SUSPERNDER CUENTA ---->
                </table>


                <a type="button" th:href="@{/admin/dashboard}">
                    <button type="button" class="btn btn-secondary btn-lg">
                        Volver
                    </button>
                </a>

            </div>
        </div>
    </div>

    
    
    
                                               
    
    
</main>


<footer th:replace="~{/fragments/footer :: footer}"></footer>


<script src="https://kit.fontawesome.com/183f2a4aef.js" crossorigin="anonymous"></script>

</body>

</html>
