<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{/fragments/head :: head}"></head>

<body class="">
    <header th:replace="~{/fragments/header :: header}"></header>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caprasimo&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <style>
        div>img {

            border-radius: 8px;
            width: 100%;
            height: auto;
            box-shadow: 0px 0px 20px #5b29ff;

        }

        h4,
        h5 {
            color: white;
            font-family: 'Caprasimo', sans-serif;
        }

        p {
            color: white;
            font-family: 'Open Sans', sans-serif;
        }

        h2 {
            color: peru;
            font-family: 'Cinzel', sans-serif;
        }

        h1 {
            color: chocolate;
            font-family: 'Cinzel', sans-serif;
        }

        h3 {
            color: chocolate;
            font-family: 'Cinzel', sans-serif;
            text-align: center
        }

        hr {
            color: azure;

        }
    </style>
    <div class="container container-fluid d-flex footer-alpiso py-4">
        <main>
            <h1 class="TitutloIndex">Soluciones Activas</h1>
            <h2 class="ParrafoIndex">
                <h4> Servicios Profesionales para tu hogar</h4>
                <hr>
            <h3>Los mejores profesionales a tu alcance</h3>
            <h3>algunos de los servicios que usted puede contratar </h3>
            <div class="d-flex flex-wrap justify-content-center" id="card-index">
                <div class="black bg-white form-border"
                    style="border: solid 1px; border-radius: 5px; width: 200px; height: 200px; padding: 5px; margin: 5px;">
                    <img src="https://s3.us-east-2.amazonaws.com/static.homesolution.net/res/img/cats/c-38.svg"
                        width="140" alt="Construcción y Arquitectura"
                        style="display: block; margin: 0 auto; align-items: center;">

                </div>
                <div class="black bg-white form-border"
                    style="border: solid 1px; border-radius: 5px; width: 200px; height: 200px; padding: 5px; margin: 5px;">
                    <img src="https://s3.us-east-2.amazonaws.com/static.homesolution.net/res/img/cats/c-6.svg"
                        width="140" alt="Electricista" style="display: block; margin: 0 auto; align-items: center;">

                </div>
                <div class="black bg-white form-border"
                    style="border: solid 1px; border-radius: 5px; width: 200px; height: 200px; padding: 5px; margin: 5px;">
                    <img src="https://s3.us-east-2.amazonaws.com/static.homesolution.net/res/img/cats/c-2.svg"
                        width="140" alt="Plomero" style="display: block; margin: 0 auto; align-items: center;">

                </div>
                <div class="black bg-white form-border"
                    style="border: solid 1px; border-radius: 5px; width: 200px; height: 200px; padding: 5px; margin: 5px;">
                    <img src="https://s3.us-east-2.amazonaws.com/static.homesolution.net/res/img/cats/c-1.svg"
                        width="140" alt="Pintor" style="display: block; margin: 0 auto; align-items: center;">

                </div>
                <div class="black bg-white form-border"
                    style="border: solid 1px; border-radius: 5px; width: 200px; height: 200px; padding: 5px; margin: 5px;">
                    <img src="https://s3.us-east-2.amazonaws.com/static.homesolution.net/res/img/cats/c-27.svg"
                        width="140" alt="Técnico de Aire" style="display: block; margin: 0 auto; align-items: center;">

                </div>
                <div class="black bg-white form-border"
                    style="border: solid 1px; border-radius: 5px; width: 200px; height: 200px; padding: 5px; margin: 5px;">
                    <img src="https://s3.us-east-2.amazonaws.com/static.homesolution.net/res/img/cats/c-14.svg"
                        width="140" alt="Gasista" style="display: block; margin: 0 auto; align-items: center;">

                </div>
                <div class="black bg-white form-border"
                    style="border: solid 1px; border-radius: 5px; width: 200px; height: 200px; padding: 5px; margin: 5px;">
                    <img src="https://s3.us-east-2.amazonaws.com/static.homesolution.net/res/img/cats/c-18.svg"
                        width="140" alt="Albañil" style="display: block; margin: 0 auto; align-items: center;">

                </div>
                <div class="black bg-white form-border"
                    style="border: solid 1px; border-radius: 5px; width: 200px; height: 200px; padding: 5px; margin: 5px;">
                    <img src="https://s3.us-east-2.amazonaws.com/static.homesolution.net/res/img/cats/c-36.svg"
                        width="140" alt="Paisajismo y Jardinería"
                        style="display: block; margin: 0 auto; align-items: center;">

                </div>
                <div class="black bg-white form-border"
                    style="border: solid 1px; border-radius: 5px; width: 200px; height: 200px; padding: 5px; margin: 5px;">
                    <img src="https://s3.us-east-2.amazonaws.com/static.homesolution.net/res/img/cats/c-13.svg"
                        width="140" alt="Carpintero" style="display: block; margin: 0 auto; align-items: center;">

                </div>
                <div class="black bg-white form-border"
                    style="border: solid 1px; border-radius: 5px; width: 200px; height: 200px; padding: 5px; margin: 5px;">
                    <img src="https://s3.us-east-2.amazonaws.com/static.homesolution.net/res/img/cats/c-29.svg"
                        width="140" alt="Fumigador" style="display: block; margin: 0 auto; align-items: center;">

                </div>
            </div>
            <hr>
            
                <h2>Quienes somos</h2>
                <p>En Soluciones Activas, nos dedicamos a satisfacer tus necesidades en servicio técnico para
                    electricidad, plomería, gas (entre otros) en los exclusivos barrios cerrados de Chacras de Coria,
                    Mendoza. Somos una plataforma confiable que conecta proveedores de servicios expertos con clientes
                    en busca de soluciones. Trabajamos arduamente para construir una comunidad de profesionales
                    capacitados y comprometidos con la excelencia en el servicio. Nuestra prioridad es generar confianza
                    y transparencia en todas nuestras relaciones comerciales, superando las expectativas de nuestros
                    usuarios.</p>
                <p>En Soluciones Activas, creemos en la importancia de la confianza y la transparencia en las relaciones
                    comerciales. Por eso, nos esforzamos por conectar a nuestros usuarios con los mejores proveedores de
                    servicios en su área. Si buscas soluciones confiables en Chacras de Coria y alrededores, ¡NO DUDES
                    EN CONTACTARNOS!
                <p>
                    <hr>
                <h2>Misión</h2>
                <h4>Contacta a nuestros Proveedores Confiables.</h4>
                <p>Nuestra misión en Soluciones Activas es facilitar y agilizar la búsqueda de proveedores confiables
                    para nuestros clientes. Nos comprometemos a crear una red sólida de profesionales que ofrezcan
                    servicios excepcionales y se destaquen por su calidad y profesionalismo. Queremos ser el enlace
                    confiable entre aquellos que buscan soluciones y aquellos que las proporcionan, promoviendo la
                    satisfacción y la tranquilidad de nuestros usuarios.</p>


                <hr>
                <h2>Visión</h2>
                <p>En Soluciones Activas, aspiramos a ser el referente en la conexión entre proveedores de servicios
                    confiables y clientes en busca de soluciones en Chacras de Coria y sus alrededores. Buscamos
                    establecer una reputación sólida y reconocida como una plataforma confiable que ofrece acceso rápido
                    y sencillo a profesionales calificados y comprometidos. Queremos fomentar una comunidad colaborativa
                    donde los usuarios puedan dejar comentarios y puntajes, promoviendo la mejora continua y la
                    excelencia en el servicio. Si estás buscando soluciones confiables en Chacras de Coria y sus
                    alrededores, no dudes en contactarnos. Estamos comprometidos a brindarte el mejor servicio y
                    ayudarte a encontrar a los proveedores adecuados para tus necesidades.</p>

                <p>En nuestro sitio web, ofrecemos una amplia gama de servicios profesionales de instalación, reparación
                    y mantenimiento para cubrir tus necesidades en electricidad, plomería, gas, carpintería,
                    albañilería, entre otros. Nuestros proveedores de servicios altamente capacitados y certificados
                    están listos para brindarte soluciones confiables y eficientes en cada proyecto. Ya sea que
                    necesites instalar nuevos sistemas eléctricos, solucionar problemas de plomería o garantizar un
                    funcionamiento seguro de tu sistema de gas, nuestros expertos están aquí para ayudarte. Nos
                    enorgullece ofrecer servicios de alta calidad, cumpliendo con los estándares de seguridad y
                    brindando atención personalizada a cada cliente. Confía en nuestros profesionales para obtener
                    resultados excelentes y contar con un hogar seguro y funcional.</p>
                <hr>




        </main>
    </div>

    <footer th:replace="~{/fragments/footer :: footer}"></footer>
    <script src="https://kit.fontawesome.com/183f2a4aef.js" crossorigin="anonymous"></script>
</body>

</html>

