<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/head::head1">    </head>

    <body>
        <nav th:replace="fragments/navbar :: nav_bar2"> </nav>


        <header class="">
            <div th:replace="fragments/carousel ::  carousel1">    </div>
        
            <section class="buscardor-selector-profesiones">
                
            </section>
        </header>



        <<main class="" >
            
              <div class="card">
                <div class="card-image"></div>
                <div class="card-text">
                  <h2>Electrista</h2>
                  <p>Lorem ipsum dolor sit amet consectetur, Ducimus,
                     repudiandae temporibus omnis illum maxime quod deserunt eligendi</p>
                </div>

                <div class="card-stats">
                  <div class="stat">
                    <div class="value"></div>
                    <div class="type">Zona Centro</div>
                  </div>

                  <div class="stat border">
                    <div class="value">213</div>
                    <div class="type">views</div>
                  </div>
                  <div class="stat">
                    <div class="value">5</div>
                    <div class="type">Rating</div>
                  </div>
                </div>
              </div>
           
<!--            <div  th:each="proveedor: ${proveedores}" class="contenedor-tarjetas">


                <div class="card">
                    <div class="card-image"></div>
                    <div class="card-text">
                        <h2 th:text="${proveedor.nombre}" th:href="@{/proveedor/__${proveedor.id}__}">Electrista</h2>
                        <p th:text="${proveedor.descripcion}"> Lorem ipsum dolor sit amet consectetur, Ducimus,
                            repudiandae temporibus omnis illum maxime quod deserunt eligendi</p>
                    </div>

                    <div class="card-stats">
                        <div class="stat">
                            <div class="value"></div>
                            <div class="type">Zona Centro</div>
                        </div>

                        <div class="stat border">
                            <div class="value">213</div>
                            <div class="type">views</div>
                        </div>
                        <div class="stat">
                            <div th:text="${proveedor.reputacion}" class="value"></div>
                            <div class="type">Rating</div>
                        </div>
                    </div>
                </div>



            </div>-->

        </main>





        <footer th:replace="fragments/footer :: footer1">    </footer>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    </body>

</html>