<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="/fragments/head :: head"></head>

    <body class="footer-alpiso d-flex flex-column" >

        <header th:replace="/fragments/header :: header"></header>

        <main class="flex-grow-1 container-fluid">
<!--            <div class="container container-fluid d-flex"> -->
          <h1 style="color: azure">INGRESASTE CORRECTAMENTE</h1>
          <br>
          <div>
          <a th:href="@{/usuario/usuarios}"><button type="button" class="btn btn-info"> Lista de Usuarios </button> </a>
          <a th:href="@{/proveedor/proveedores}"><button type="button" class="btn btn-info"> Lista de Proveedores </button> </a>
          </div>

<!--          </div>-->
        </main>


       <footer th:replace="/fragments/footer :: footer"></footer>
        
         <script src="https://kit.fontawesome.com/183f2a4aef.js" crossorigin="anonymous"></script>
    </body>

</html>