<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="~{/fragments/head :: head}"></head>


    <body class="footer-alpiso d-flex flex-column" >

        <header th:replace="~{/fragments/header :: header}"></header>
        <!-- <div class="container container-fluid d-flex">  -->
        <main class="flex-grow-1 container-fluid d-flex justify-content-center align-items-center">
            
            <div class="contenedor w-75">

                    <div class="left-panel">
                        <img src="https://img.freepik.com/free-photo/check-lock-wooden-table-background_93675-128371.jpg"  style="border-radius: 5px" width="100%" alt="Background Image">
                    </div>

                    <div class="right-panel">
                        <form th:action="@{/logincheck}" class="formulario form-control "  method="POST">
                            <div class ="texto">

                                <div class="logo ">
                                    <img src="/IMG/Logo-Soluciones-Circular-removebg-preview.png" width=%100  alt="Logo">

                                </div>
                                <div class="form-input ">
                                    <input  type="email"class="form-control mb-3 " name="email"  placeholder="EMAIL">
                                </div>
                                
                                <div class="form-input ">
                                    <input type="password" class="form-control mb-3" name="password" placeholder="CONTRASEÑA">
                                </div>
                                
                                
                                
                                <div class="form-button">
                                    <button type="submit texto" class="btn btn-primary mt-3 form-control mb-3 botones">Ingresar</button>
                                </div>

                                
                                <div id="errorDiv" th:if="${error != null}" class="text-white bg-danger mb-3 mensajeError" style="position: fixed; top: 32%; left: 75%; transform: translate(-50%, -50%);">
                                    <div class="card-body">
                                        <h5 class="card-title">La contraseña es incorrecta</h5>
                                        <p class="card-text" th:text="${error}"></p>
                                    </div>
                                </div>
                                <div th:if="${exito != null}" class=" text-white bg-success mb-3 mt-3 mensajeExito" >
                                    <div class="card-body">
                                        <h5 class="card-title">Exito!</h5>
                                        <p class="card-text" th:text="${exito}"></p>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>


                </div>
            
                        
        </main>
    
        <footer th:replace="~{/fragments/footer :: footer}"></footer>
      
       

    </body>

</html>
