<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="~{/fragments/head :: head}"></head>


    <body class="footer-alpiso d-flex flex-column" >

        <header th:replace="~{/fragments/header :: header}"></header>
        <!-- <div class="container container-fluid d-flex">  -->
        <main class="flex-grow-1 container-fluid d-flex justify-content-center align-items-center">

            <div class="contenedor w-75">

                <div class="left-panel">
                    <img src="https://img.freepik.com/free-photo/check-lock-wooden-table-background_93675-128371.jpg"  style="border-radius: 5px" width="100%" alt="Background Image">
                </div>

                <div class="right-panel">
                    <form th:action="@{/logincheck}" class="formulario form-control "  method="POST">
                        <div class ="texto">

                            <div class="logo ">
                                <img src="/IMG/Logo-Soluciones-Circular-removebg-preview.png" width=%100  alt="Logo">

                            </div>
                            <div class="form-input ">
                                <input  type="email"class="form-control mb-3 " name="email"  placeholder="EMAIL">
                            </div>

                            <div class="form-input ">
                                <input type="password" class="form-control mb-3" name="password" placeholder="CONTRASEÑA">
                            </div>



                            <div class="form-button">
                                <button type="submit texto" class="btn btn-primary mt-3 form-control mb-3 botones">Ingresar</button>
                            </div>

                            <a href="/forgot_password"  type="button" class="text-primary mb-3">¿Olvidaste tu contraseña?</a>


                            <div th:replace="~{/fragments/error:: errores1}"></div> 


                        </div>
                    </form>
                </div>


            </div>


        </main>

        <footer th:replace="~{/fragments/footer :: footer}"></footer>
        
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
        <!-- Mensajes para el formulario -->
        <script src="../js/mensajeFormulario.js"/></script>
    <script>
        const passwordInput = document.getElementById('passwordInput');
        const togglePassword = document.getElementById('togglePassword');

        togglePassword.addEventListener('click', function () {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            togglePassword.querySelector('i').classList.toggle('fa-eye');
            togglePassword.querySelector('i').classList.toggle('fa-eye-slash');
        });
    </script>

    </body>

</html>
