<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Soluciones Activas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/estiloscssSinAfectarCards.css" />
    <link rel="stylesheet" href="/CSS/estiloslogin.css">
</head>

    <body class="" >

        <header th:replace="~{/fragments/header :: header}"></header>
        
        <div class="container container-fluid d-flex">
             <main class="flex-grow-1 container-fluid">


                <section style="background-color: #443C68;">

                    <div class="container py-5">
                        <div class="row">
                            <div class="col">
                                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                                    <ol class="breadcrumb mb-0">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Mi Perfil</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card mb-4">
                                    <div class="card-body text-center">
                                        <img th:src="@{/imagen/perfil/__${usuario.id}__}" alt="avatar"
                                             class="" style="width: 150px;">
                                        <h5 class="my-3" th:text="${usuario.nombre} + ' '+ ${usuario.apellido}"></h5>
                                        <p class="text-muted mb-1" th:if="${usuario.fechaAlta != null}" th:text="'Fecha Alta: '+${usuario.fechaAlta}"> </p>
                                        <p class="text-muted mb-4" th:text="'Tel: '+${usuario.telefono}"></p>
                                        <p class="text-muted mb-4" th:text="'Rol: '+${usuario.rol}"></p>
                                        <div class="d-flex justify-content-center mb-2">
                                            <a type="button" class="btn btn-warning" th:href="@{/usuario/modificar_perfil_usuario}" th:if="${session.usuariosession != null}">Modificar  </a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-8">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Nombre y Apellido</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0" th:text="${usuario.nombre} + ' '+ ${usuario.apellido}"></p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Email</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0" th:text="${usuario.email}"></p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0" >Fecha Nacimiento</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0" th:text="${usuario.fechaNacimiento}"></p>
                                            </div>
                                        </div>
                                         <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0" >D.N.I.</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0" th:text="${usuario.dni}"></p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Telefono</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0" th:text="${usuario.telefono}"></p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Domicilio</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Cantidad Servicios Contratados</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">2</p>
                                            </div>
                                        </div>
                                    
                                        
                                    </div>
                                </div>   
                            </div>
                        </div>
                    </div>


                    <!---Mis Contratos--->

                    <div class="container py-5 h-100">
                        

                        <div class="row">
                            <div class="col">
                                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                                    <ol class="breadcrumb mb-0">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Mis Contratos</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>    
                            
                          
                         <div class="row d-flex justify-content-center align-items-center h-100">   

                                <div class="card mb-5" style="border-radius: 15px;">
                                    <div class="card-body p-4">
                                        <h3 class="mb-3">Contrato Plomeria - Proveedor : Enzo Francescoli</h3>
                                        <p class="small mb-0"><i class="far fa-star fa-lg"></i><strong>id Contarto : a2ldkvn4_asdj5</strong> <span class="mx-2">|</span> Fecha contratacion
                                             on 03 Julio , 2023</p>
                                        
                                         <p class="small mb-0"><i class="far fa-star fa-lg"></i>Estado<span class="mx-2">|</span> <strong> ACTIVO</strong></p>
                                        <hr class="my-4">
                                        <div class="d-flex justify-content-start align-items-center">
                                            <p class="mb-0 text-uppercase"><i class="fas fa-cog me-2"></i> <span
                                                    class="text-muted small">FINALIZAR</span></p>
                                            <p class="mb-0 text-uppercase"><i class="fas fa-link ms-4 me-2"></i> <span
                                                    class="text-muted small">ANULAR</span></p>
                                            <p class="mb-0 text-uppercase"><i class="fas fa-ellipsis-h ms-4 me-2"></i> <span
                                                    class="text-muted small">ESCRIBIR UN COMENTARIO</span>
                                                <span class="ms-3 me-4">|</span></p>
                                            <a href="#!">
                                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-2.webp" alt="avatar"
                                                     class="img-fluid rounded-circle me-3" width="35">
                                            </a>
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="card mb-5" style="border-radius: 15px;">
                                    <div class="card-body p-4">
                                        <h3 class="mb-3">Contrato GASISTA - Proveedor : Raul Guitierrez</h3>
                                        <p class="small mb-0"><i class="far fa-star fa-lg"></i> <strong>id Contarto : l9gk4kdñ3a21</strong><span class="mx-2">|</span> Fecha contratacion
                                             on 05 Julio , 2023</p>
                                         <p class="small mb-0"><i class="far fa-star fa-lg"></i>Estado<span class="mx-2">|</span> <strong> ACTIVO</strong></p>
                                        <hr class="my-4">
                                        <div class="d-flex justify-content-start align-items-center">
                                            <p class="mb-0 text-uppercase"><i class="fas fa-cog me-2"></i> <span
                                                    class="text-muted small">FINALIZAR</span></p>
                                            <p class="mb-0 text-uppercase"><i class="fas fa-link ms-4 me-2"></i> <span
                                                    class="text-muted small">ANULAR</span></p>
                                            <p class="mb-0 text-uppercase"><i class="fas fa-ellipsis-h ms-4 me-2"></i> <span
                                                    class="text-muted small">ESCRIBIR UN COMENTARIO</span>
                                                <span class="ms-3 me-4">|</span></p>
                                            <a href="#!">
                                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-2.webp" alt="avatar"
                                                     class="img-fluid rounded-circle me-3" width="35">
                                            </a>
                                            
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>




                </section>
            </main>  
        </div>
        <footer th:replace="~{/fragments/footer :: footer}"></footer>

    </body>
</html>


