<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{/fragments/head :: head}"></head>

<body>

    <header th:replace="~{/fragments/header :: header}"></header>

    <div class="container container-fluid d-flex">
        <main class="flex-grow-1 container-fluid footer-alpiso">

            <section style="background-color: #443C68;">
                <div class="container py-5">
                    <div class="row">
                        <div class="col">
                            <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                                <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item"><a href="/inicio">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Mi Perfil</li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card mb-4">
                                <div class="card-body text-center">
                                    <img th:src="@{/imagen/perfil/__${usuario.id}__}" alt="avatar" class=""
                                        style="width: 150px;" onerror="this.onerror = null; this.src='/IMG/USER.GIF'">
                                    <h5 class="my-3" th:text="${usuario.nombre} + ' '+ ${usuario.apellido}"></h5>
                                    <p class="text-muted mb-1" th:if="${usuario.fechaAlta != null}"
                                        th:text="'Fecha Alta: '+${usuario.fechaAlta}"> </p>
                                    <p class="text-muted mb-4" th:text="'Tel: '+${usuario.telefono}"></p>
                                    <p class="text-muted mb-4" th:text="'Rol: '+${usuario.rol}"></p>
                                    <div class="d-flex justify-content-center mb-2">
                                        <a type="button" class="btn btn-warning"
                                            th:href="@{/usuario/modificar_perfil_usuario}"
                                            th:if="${session.usuariosession != null}">Modificar </a>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-8">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Nombre y Apellido</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0"
                                                th:text="${usuario.nombre} + ' '+ ${usuario.apellido}"></p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Email</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0" th:text="${usuario.email}"></p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Fecha Nacimiento</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0" th:text="${usuario.fechaNacimiento}"></p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">D.N.I.</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0" th:text="${usuario.dni}"></p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Telefono</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0" th:text="${usuario.telefono}"></p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Domicilio</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Cantidad Servicios Contratados</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">2</p>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!---Mis Contratos--->

                <a type="button" th:href="@{/usuario/mis_contratos_usuario}">
                    <button type="button" class="btn btn-secondary btn-lg">
                        Ver Mis Contratos
                    </button>
                </a>




            </section>
        </main>
    </div>
    <footer th:replace="~{/fragments/footer :: footer}"></footer>

</body>

</html>