<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{/fragments/head :: head}"></head>

<body class="footer-alpiso d-flex flex-column">
    <header th:replace="~{/fragments/header :: header}"></header>

    <main class="flex-grow-1 container-fluid d-flex flex-column align-items-center">

        <!---Mis Contratos--->

        <div class="container py-5 h-200">

            <a type="button" th:href="@{/usuario/mis_contratos_usuario}">
                <button type="button" class="btn btn-secondary btn-lg">
                    Volver
                </button>
            </a>


            <div class="card" style="width: 24rem; height: auto;" th:each="contrato : ${contratosTerminados}">
                <div class="card-body">
                    <h4 class="card-title">N° de contrato:</h4>
                    <h3 class="card-title" th:text="${contrato.id}"></h3>
                    <!--<img id="fotoPerfil" th:src="@{/imagen/perfil/__${usuario.id}__}" alt="imegen perfil" class="rounded-circle" width="100" height="100">-->
                    <h6>Estado:</h6>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${contrato.estado}"></h6>
                    <h6>Precio:</h6>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${contrato.precio}"></h6>
                    <div>

                        <div class="input-group mb-3">

                            <form class="row g-3" style="width:800px; margin:0 auto;" type="form" method="POST"
                                th:action="@{/contrato/calificar_contrato}">
                                <input hidden th:value="${contrato.id}" name="idContrato">
                                <label for="validationServer01" class="form-label">
                                    Comentarios del servicio:
                                </label>
                                <input class="form-control is-valid" type="text" name="comentarioFinal"
                                    placeholder="Valoracion..." />

                                <select name="calificacion" class="form-select form-select-sm"
                                    aria-label=".form-select-sm example">
                                    <option selected class="form-control is-valid">Calificar trabajo:</option>
                                    <option th:value="1">1</option>
                                    <option th:value="2">2</option>
                                    <option th:value="3">3</option>
                                    <option th:value="4">4</option>
                                    <option th:value="5">5</option>
                                </select>
                                <div class="valid-feedback">
                                    ¡Gracias!
                                </div>
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input is-invalid" type="checkbox" value=""
                                            id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
                                        <label class="form-check-label" for="invalidCheck3">
                                            Aceptaciòn de terminos y condiciones
                                        </label>
                                        <div id="invalidCheck3Feedback" class="invalid-feedback">
                                            Debes aceptarlos
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary" type="submit">Enviar</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

    </main>


    <footer th:replace="~{/fragments/footer :: footer}"></footer>

    <script src="https://kit.fontawesome.com/183f2a4aef.js" crossorigin="anonymous"></script>
</body>

</html>