<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{/fragments/head :: head}"></head>

<body class="d-flex flex-column">
  <header th:replace="~{/fragments/header :: header}"></header>

  <main class="flex-grow-1 container-fluid d-flex flex-column align-items-center footer-alpiso">

    <!---Mis Contratos--->

    <div class="container py-5 h-200">

      <div class="container">
        <div class="card mb-3 row justify-content-center" style="width: 32rem; height: auto;"
          th:if="${contratosEncurso.size() == 0}">
          <div class="card-header">
            <h4 class="card-title">De momento no tenes contratos en curso</h4>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-4">
            <a th:href="@{/usuario/mis_contratos_usuario}" class="btn btn-dark btn-block">Volver</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    <hr style="color: azure" />

    <div class="card" style="width: 24rem; height: auto" th:each="contrato : ${contratosEncurso}">
      <div class="card-header" style="text-align: center">
        <h5 class="card-title" id="nombreCard"
          th:text="${contrato.proveedor.nombre} + ' ' + ${contrato.proveedor.apellido}"></h5>
      </div>
      <div class="card-body">
        <table class="table table-bordered vertical-align: middle">
          <tr>
            <td style="text-align: left"><strong>SERVICIO</strong></td>
            <td>
              <h6 th:text="${contrato.proveedor.servicios[0].serv_descripcion}"></h6>
            </td>
          </tr>
          <tr>
            <td style="text-align: left"><strong>N° CONTRATO</strong></td>
            <td>
              <h6 th:text="${#strings.substring(#strings.toUpperCase(contrato.id), 0, 6)}"></h6>
            </td>
          </tr>
          <tr>
            <td style="text-align: left"><strong>ESTADO</strong></td>
            <td>
              <h6 th:text="${contrato.estado}"></h6>
            </td>
          </tr>
          <tr>
            <td style="text-align: left">
              <strong>FECHA CONTRATO</strong>
            </td>
            <td>
              <h6 th:text="${contrato.fechaContrato}"></h6>
            </td>
          </tr>
          <tr>
            <td style="text-align: left">
              <strong>PRECIO</strong>
            </td>
            <td>
              <h6 th:text="${contrato.precio}"></h6>
            </td>
          </tr>
        </table>

        <form class="row g-3" th:action="@{/contrato/finalizar_contrato_usuario}" method="POST">
          <div class="col-md-4">
            <input hidden th:value="${contrato.id}" name="idContrato">
            <label for="validationServer01" class="form-label">¿Cancelar contrato?</label>
            <input placeholder="Indicar motivo por favor" type="text" class="form-control" id="validationServer01"
              name="comentarioFinal" required>
            <div class="valid-feedback">
              Cancelado
            </div>
          </div>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3"
                aria-describedby="invalidCheck3Feedback" required>
              <label class="form-check-label" for="invalidCheck3">
                ¡Confirmar!
              </label>
            </div>
          </div>
          <div class="col-12">
            <button class="btn btn-primary" type="submit">Cancelar</button>
          </div>
        </form>

      </div>
    </div>
  </main>

  <footer th:replace="~{/fragments/footer :: footer}"></footer>

</body>

</html>