<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="~{/fragments/head :: head}"></head>

  <body class="d-flex flex-column">
    <header th:replace="~{/fragments/header :: header}"></header>

    <main
      class="flex-grow-1 container-fluid d-flex flex-column align-items-center footer-alpiso"
    >
      <!---Mis Contratos--->

      <div class="container py-5 h-200">
        <div class="container py-5 h-200">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-4">
                <a
                  th:href="@{/proveedor/mis_contratos_proveedor_encurso}"
                  class="btn btn-dark btn-block"
                  >Contratos en curso</a
                >
              </div>
              <div class="col-4">
                <a
                  th:href="@{/proveedor/mis_contratos_proveedor_calificado}"
                  class="btn btn-dark btn-block"
                  >Contratos calificados</a
                >
              </div>
            </div>
          </div>
          <hr style="color: azure" />

          <div
            class="card mb-3"
            style="width: 24rem; height: auto"
            th:each="contrato : ${contratosUsuario}"
          >
            <div class="card-header">
              <h4 class="card-title">N° de contrato:</h4>
            </div>
            <div class="card-body">
              <h3
                class="card-title"
                th:text="${#strings.substring(#strings.toUpperCase(contrato.id),0,6)}"
              ></h3>

              <h6>ESTADO</h6>
              <h6
                class="card-subtitle mb-2 text-muted"
                th:text="${contrato.estado}"
              ></h6>
              <h6>FECHA ALTA</h6>
              <p class="card-text" th:text="${contrato.fechaContrato}"></p>

              <div>
                <form
                  class="row g-3"
                  th:if="${contrato.estado.toString() == 'ENCURSO'}"
                  type="form"
                  method="POST"
                  th:action="@{/contrato/finalizar_contrato_proveedor}"
                >
                  <input hidden th:value="${contrato.id}" name="idContrato" />
                  <div class="col-md-4">
                    <label for="validationServer01" class="form-label"
                      >Precio del trabajo:</label
                    >
                    <input
                      type="number"
                      class="form-control is-valid"
                      id="validationServer01"
                      name="precio"
                      required
                    />
                  </div>

                  <div class="col-12">
                    <button class="btn btn-primary" type="submit">
                      Finalizar contrato
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer th:replace="~{/fragments/footer :: footer}"></footer>
  </body>
</html>
