<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    >
    <head th:replace="~{/fragments/head :: head}"></head>
    <body>
        <header th:replace="~{/fragments/header :: header}"></header>
        <div class="container container-fluid  d-flex flex-wrap gap-3">
            <div class="card" style="width: 18rem;" th:each="contrato : ${contratosUsuario}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${contrato.id}"></h5>
                    <!--<img id="fotoPerfil" th:src="@{/imagen/perfil/__${usuario.id}__}" alt="imegen perfil" class="rounded-circle" width="100" height="100">-->
                    <h6>ESTADO</h6>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${contrato.estado}"></h6>
                    <h6>FECHA ALTA</h6>
                    <!--<p class="card-text" th:text="${contrato.fecha_contrato}"></p>-->
                    <!--<a th:href="@{/usuario/modificar/__${usuario.id}__}" class="card-link">Modificar</a>-->
                </div>
            </div>
        </div>
    </body>

</html>
