<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{/fragments/head :: head}"></head>

<body class="footer-alpiso d-flex flex-column">
    <header th:replace="~{/fragments/header :: header}"></header>

    <main class="flex-grow-1 container-fluid d-flex flex-column align-items-center">

        <!---Mis Contratos--->

        <div class="container py-5 h-200">

            <a type="button" th:href="@{/usuario/mis_contratos_usuario_encurso}">
                <button type="button" class="btn btn-secondary btn-lg">
                    Ver contratos en Curso
                </button>
            </a>

            <a type="button" th:href="@{/usuario/mis_contratos_usuario_terminado}">
                <button type="button" class="btn btn-secondary btn-lg">
                    Ver contratos Terminados
                </button>
            </a>

            <a type="button" th:href="@{/usuario/mi_perfil_usuario}">
                <button type="button" class="btn btn-secondary btn-lg">
                    Mi Perfil
                </button>
            </a>

            <!---Mis Contratos--->

            <div class="container py-5 h-100">

                <div class="card" style="width: 24rem; height: auto;" th:each="contrato : ${contratosUsuario}">
                    <div class="card-body">
                        <h4>N° de Contrato (id):</h4>
                        <h5 class="card-title" th:text="${contrato.id}"></h5>
                        <!--<img id="fotoPerfil" th:src="@{/imagen/perfil/__${usuario.id}__}" alt="imegen perfil" class="rounded-circle" width="100" height="100">-->
                        <h6>ESTADO</h6>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${contrato.estado}"></h6>
                        <h6>FECHA ALTA</h6>
                        <!--<p class="card-text" th:text="${contrato.fecha_contrato}"></p>-->
                        <!--<a th:href="@{/usuario/modificar/__${usuario.id}__}" class="card-link">Modificar</a>-->
                        <div>
                            <!-- <input hidden th:value="${contrato.id}" name="idContrato">
                                                <input class="comentarioFinal" type="text" name="comentarioFinal" />
                                                <button th:if="${contrato.estado.toString() == 'TERMINADO'}" type="submit"
                                                    class="btn btn-primary">Calificar trabajo del profesional</button> -->
                            <div class="input-group mb-3">
                                <div th:if="${contrato.estado.toString() == 'TERMINADO'}">

                               

                                <!--Boton que abre el modal-->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#modalPuntuacion">
                                    Calificar proveedor</button>

                                <!--modal-->
                                <div class="modal fade" id="modalPuntuacion" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Calificar proveedor</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- Puntuación y comentario dentro del modal -->
                                                <label>¿Cómo calificarías el servicio?</label>
                                                <form style="position: fixed;" id="formu" method="POST"
                                                    th:action="@{/contrato/calificar_contrato}">
                                                    <input hidden th:value="${contrato.id}" name="idContrato">
                                                    <p class="clasificacion">
                                                        <input id="radio1" type="radio" name="calificacion"
                                                            th:value="5">
                                                        <label for="radio1">★</label>
                                                        <input id="radio2" type="radio" name="calificacion"
                                                            th:value="4">
                                                        <label for="radio2">★</label>
                                                        <input id="radio3" type="radio" name="calificacion"
                                                            th:value="3">
                                                        <label for="radio3">★</label>
                                                        <input id="radio4" type="radio" name="calificacion"
                                                            th:value="2">
                                                        <label for="radio4">★</label>
                                                        <input id="radio5" type="radio" name="calificacion"
                                                            th:value="1">
                                                        <label for="radio5">★</label>
                                                    </p>

                                                </form>

                                                <br><br><br>

                                                <div>
                                                    <textarea style="font-size:larger" rows="6" cols="35"
                                                        maxlength="250" name="comentarioFinal"
                                                        placeholder="Dejá tu comentario"></textarea>
                                                    <br>
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary"
                                                    onclick="enviarFormulario()">Enviar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                <div class="input-group mb-3" th:if="${contrato.estado.toString() == 'ENCURSO'}">

                                    <form class="row g-3" type="form" method="POST"
                                        th:action="@{/contrato/finalizar_contrato_usuario}">
                                        <input hidden th:value="${contrato.id}" name="idContrato">
                                        <div class="col-md-4">
                                            <label for="validationServer01" class="form-label" value="">¿Desea cancelar
                                                el trabajo en curso?</label>
                                            <input placeholder="Indicar motivo..." type="text"
                                                class="form-control is-valid" id="validationServer01"
                                                name="comentarioFinal" required>
                                            <div class="valid-feedback">
                                                !Que lastima! Esperamos ser de mas utilidad la proxima vez
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-check">
                                                <input class="form-check-input is-invalid" type="checkbox" value=""
                                                    id="invalidCheck3" aria-describedby="invalidCheck3Feedback"
                                                    required>
                                                <label class="form-check-label" for="invalidCheck3">
                                                    CANCELAR - Aceptaciòn de terminos y condiciones
                                                </label>
                                                <div id="invalidCheck3Feedback" class="invalid-feedback">
                                                    Debes aceptarlos
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-primary" type="submit">Cancelar contrato</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="input-group mb-3" th:if="${contrato.estado.toString() == 'SOLICITADO'}">

                                    <form class="row g-3" type="form" method="POST"
                                        th:action="@{/contrato/finalizar_contrato_usuario}">
                                        <input hidden th:value="${contrato.id}" name="idContrato">
                                        <div class="col-md-4">
                                            <label for="validationServer01" class="form-label" value="">¿Desea cancelar
                                                la solicitud realizada?</label>
                                            <input placeholder="Indicar motivo..." type="text"
                                                class="form-control is-valid" id="validationServer01"
                                                name="comentarioFinal" required>
                                            <div class="valid-feedback">
                                                !Que lastima! Esperamos ser de mas utilidad la proxima vez
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-check">
                                                <input class="form-check-input is-invalid" type="checkbox" value=""
                                                    id="invalidCheck3" aria-describedby="invalidCheck3Feedback"
                                                    required>
                                                <label class="form-check-label" for="invalidCheck3">
                                                    CANCELAR - Aceptaciòn de terminos y condiciones
                                                </label>
                                                <div id="invalidCheck3Feedback" class="invalid-feedback">
                                                    Debes aceptarlos
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-primary" type="submit">Cancelar solicitud</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>


    <footer th:replace="~{/fragments/footer :: footer}"></footer>

    <script src="https://kit.fontawesome.com/183f2a4aef.js" crossorigin="anonymous"></script>

    <script>
        function enviarFormulario() {
            // Obtener el valor del campo comentarioFinal
            var comentarioFinal = document.querySelector("#modalPuntuacion textarea[name='comentarioFinal']").value;

            // Crear un input oculto para enviar el campo comentarioFinal
            var inputComentarioFinal = document.createElement("input");
            inputComentarioFinal.type = "hidden";
            inputComentarioFinal.name = "comentarioFinal";
            inputComentarioFinal.value = comentarioFinal;

            // Agregar el input oculto al formulario
            var formulario = document.getElementById("formu");
            formulario.appendChild(inputComentarioFinal);

            // Enviar el formulario
            formulario.submit();
        }
    </script>

</body>

</html>