<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{/fragments/head :: head}"></head>

<body class="footer-alpiso d-flex flex-column">
    <header th:replace="~{/fragments/header :: header}"></header>

    <main class="flex-grow-1 container-fluid d-flex flex-column align-items-center">

        <!---Mis Contratos--->

        <div class="container py-5 h-200">

            <div class="container">
                <div class="card mb-3 row justify-content-center" style="width: 32rem; height: auto;"
                    th:if="${contratosTerminados.size() == 0}">
                    <div class="card-header">
                        <h4 class="card-title">De momento no tenes contratos terminados</h4>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <a th:href="@{/usuario/mis_contratos_usuario}" class="btn btn-dark btn-block">Volver</a>
                    </div>
                </div>
            </div>
            <hr style="color: azure;">


            <div class="card" style="width: 24rem; height: auto;" th:each="contrato : ${contratosTerminados}">
                <div class="card-header" style="text-align: center">
                    <h5 class="card-title" id="nombreCard"
                        th:text="${contrato.proveedor.nombre} + ' ' + ${contrato.proveedor.apellido}"></h5>
                </div>
                <div class="card-body">

                    <table class="table table-bordered vertical-align: middle">
                        <tr>
                            <td style="text-align: left"><strong>SERVICIO</strong></td>
                            <td>
                                <h6 th:text="${contrato.proveedor.servicios[0].serv_descripcion}">
                                </h6>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left"><strong>N° CONTRATO</strong></td>
                            <td>
                                <h6 th:text="${#strings.substring(#strings.toUpperCase(contrato.id), 0, 6)}">
                                </h6>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left"><strong>ESTADO</strong></td>
                            <td>
                                <h6 th:text="${contrato.estado}"></h6>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left"><strong>FECHA CONTRATO</strong></td>
                            <td>
                                <h6 th:text="${contrato.fechaContrato}"></h6>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left">
                                <strong>PRECIO</strong>
                            </td>
                            <td>
                                <h6 th:text="${contrato.precio}"></h6>
                            </td>
                        </tr>
                        <tr th:if="${contrato.calificado == true}">
                            <td style="text-align: left">
                                <strong>CALIFCACIÓN</strong>
                            </td>
                            <td>
                                <h6 th:text="${contrato.calificacion}"></h6>
                            </td>
                        </tr>
                        <tr th:if="${contrato.calificado == false}">
                            <td style="text-align: left">
                                <strong>AUN SIN CALIFICAR</strong>
                            </td>
                        </tr>
                    </table>

                    <div th:if="${contrato.calificado == false}">
                        <!-- Puntuación y comentario -->
                        <label>¿Cómo calificarías el servicio?</label>
                        <form id="formu" method="POST" th:action="@{/contrato/calificar_contrato}">
                            <input hidden th:value="${contrato.id}" name="idContrato">
                            <p class="clasificacion">
                                <input id="radio1" type="radio" name="calificacion" th:value="5">
                                <label for="radio1">★</label>
                                <input id="radio2" type="radio" name="calificacion" th:value="4">
                                <label for="radio2">★</label>
                                <input id="radio3" type="radio" name="calificacion" th:value="3">
                                <label for="radio3">★</label>
                                <input id="radio4" type="radio" name="calificacion" th:value="2">
                                <label for="radio4">★</label>
                                <input id="radio5" type="radio" name="calificacion" th:value="1">
                                <label for="radio5">★</label>
                            </p>
                            <div>
                                <textarea style="font-size:larger" rows="5" cols="30" maxlength="250"
                                    name="comentarioFinal" placeholder="Dejá tu comentario"></textarea>
                                <br>
                            </div>

                            <div>
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="~{/fragments/footer :: footer}"></footer>

</body>

</html>