<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="~{/fragments/head :: head}"></head>

    <body class="footer-alpiso d-flex flex-column">
        <header th:replace="~{/fragments/header :: header}"></header>

        <main class="flex-grow-1 container-fluid d-flex flex-column align-items-center">

            <!---Mis Contratos--->

            <div class="container py-5 h-200">

                <a type="button" th:href="@{/proveedor/mis_contratos_proveedor}">
                    <button type="button" class="btn btn-secondary btn-lg">
                        Volver
                    </button>
                </a>


                <div class="card" style="width: 24rem; height: auto;" th:each="contrato : ${contratosCalificados}">
                    <div class="card-body">
                        <h4 class="card-title">N° de contrato:</h4>
                        <h3 class="card-title" th:text="${contrato.id}"></h3>
                        <!--<img id="fotoPerfil" th:src="@{/imagen/perfil/__${usuario.id}__}" alt="imegen perfil" class="rounded-circle" width="100" height="100">-->
                        <h6>Estado:</h6>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${contrato.estado}"></h6>
                        <h6>Precio:</h6>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${contrato.precio}"></h6>
                        <div>
                            <h6>Calificacion:</h6>
                            <h6 class="card-subtitle mb-2 text-muted" th:text="${contrato.calificacion}"></h6>
                            <h6>Comentario:</h6>
                            <h6 class="card-subtitle mb-2 text-muted" th:text="${contrato.comentarioFinal}"></h6>
                            <h6 th:if="${contrato.comentarioOfensivo == true}" class="card-subtitle mb-2 text-muted">Ya has denunciado este comentario</h6>

                            <form class="row g-3" th:if="${contrato.comentarioOfensivo == false}" type="form" method="POST" th:action="@{/contrato/denunciar_comentario}">
                                <input hidden th:value="${contrato.id}" name="idContrato">

                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input is-invalid" type="checkbox" value=""
                                               id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
                                        <label  class="form-check-label" for="invalidCheck3">
                                            Denunciar comentario
                                        </label>
                                        <div id="invalidCheck3Feedback" class="invalid-feedback">
                                            Los administradores verificaran el comentario del cliente
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary" type="submit">Enviar</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </main>


        <footer th:replace="~{/fragments/footer :: footer}"></footer>

        <script src="https://kit.fontawesome.com/183f2a4aef.js" crossorigin="anonymous"></script>
    </body>

</html>