<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{/fragments/head :: head}"></head>

<body class="footer-alpiso d-flex flex-column">
    <header th:replace="~{/fragments/header :: header}"></header>

    <main class="flex-grow-1 container-fluid">


        <div class="container" style="align-items: center;">
            <div class="card" style="max-width: 700px;">
                <div class="card-header">
                    <h3>Servicio:</h3>
                    <p th:each="serv : ${proveedor.servicios}" th:text="${serv.serv_descripcion}"></p>
                </div>

                <div class="card-body" style="background-color: rgb(173, 131, 212);">
                    <form style="width: 100%; max-width: 800px; margin: 0 auto;" method="POST"
                        th:action="@{/contrato/contratar}">
                        <div class="link">
                            <textarea class="form-control comentarioInicial" placeholder="Comentario del trabajo..."
                                id="floatingTextarea" name="comentarioInicial" style="height: 150px;"></textarea>
                            <button class="btn btn-primary" type="submit" name="idProveedor"
                                th:value="${proveedor.id}">Solicitar trabajo</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- termina tarjeta  -->


            <div style="max-width: 540px;" class="card mb-1" th:each="cont : ${contratosCalificados}">
                <div class="card-body text-center">
                    <div class="row">

                        <div class="col-sm-3">
                            <p class="text-muted mb-0">Usuario:</p>
                        </div>
                        <div class="col-sm-9">
                            <p class=" mb-0" th:text="${cont.usuario.nombre}"></p>
                        </div>
                        <hr>

                        <div class="col-sm-3">
                            <p class="text-muted mb-0">Comentario:</p>
                        </div>
                        <div class="col-sm-9">
                            <p class=" mb-0" th:text="${cont.comentarioFinal}"></p>
                        </div>
                        <hr>

                        <div class="col-sm-3">
                            <p class="text-muted mb-0">Calificación:</p>
                        </div>
                        <div class="col-sm-9">
                            <p class=" mb-0" th:text="${cont.calificacion}"></p>
                        </div>
                    </div>



                </div>
            </div>


        </div>
    </main>

    <section class="container bt-2" style=" vertical-align: bottom">
        <a class="btn btn-primary mt-2 container-fluid" id="botonVolver" onclick="goBack()">Volver</a>

    </section>





    <footer th:replace="~{/fragments/footer :: footer}"></footer>
    <div th:replace="~{/fragments/error :: errores1}"></div>


    <script> function goBack() { window.history.back(); }</script>

</body>

</html>