<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{/fragments/head :: head}"></head>


<body class="footer-alpiso d-flex flex-column">
  <header th:replace="~{/fragments/header :: header}"></header>

  <main class="flex-grow-1 container-fluid">
    
    <div th:replace="~{/fragments/error :: errores1}"></div>
    
     <div class="container mt-3">

            <div class="container my-5">
                <div class="row justify-content-center ">
                    <div class="col-md-6 ">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="text-center">Restablecer contraseña</h3>
                            </div>


                            <div class="card-body">
                                <form class="formulario" th:action="@{/reset_password}" method="POST">
                                    <input type="hidden" name="token" th:value="${token}" />

                                    <div class="form-group mb-4">
                                        <label class="form-label">Contraseña</label>
                                        <div class="input-group">
                                            <input type="password" name="password" id="password" class="form-control"
                                                   placeholder="Ingresa tu nueva contraseña" required autofocus />
                                            <button class="btn btn-light" type="button" id="togglePassword">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="form-group mb-4">
                                        <label class="form-label">Confirmar contraseña</label>
                                        <div class="input-group">
                                            <input type="password" id="confirmPassword" class="form-control"
                                                   placeholder="Confirmar tu nueva contraseña" required oninput="checkPasswordMatch(this);" />
                                            <button class="btn btn-light" type="button" id="toggleConfirmPassword">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </div>
                                        <small id="passwordMatchMessage" class="form-text text-danger"></small>
                                    </div>

                                    <div class="form-group mb-4 text-center">
                                        <button type="submit" class="btn btn-primary mb-3">Cambiar contraseña</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </main>

    </body>
    <!-- JS Boostrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

    <!-- Mensajes para el formulario -->
    <script>
        const passwordInput = document.getElementById('password');
        const confirmPasswordInput = document.getElementById('confirmPassword');
        const togglePassword = document.getElementById('togglePassword');
        const toggleConfirmPassword = document.getElementById('toggleConfirmPassword');
        togglePassword.addEventListener('click', function () {
        togglePasswordVisibility(passwordInput);
        });
        toggleConfirmPassword.addEventListener('click', function () {
        togglePasswordVisibility(confirmPasswordInput);
        });
        function togglePasswordVisibility(inputElement) {
        const type = inputElement.getAttribute('type') === 'password' ? 'text' : 'password';
        inputElement.setAttribute('type', type);
        inputElement.nextElementSibling.querySelector('i').classList.toggle('fa-eye');
        inputElement.nextElementSibling.querySelector('i').classList.toggle('fa-eye-slash');
        }

        function checkPasswordMatch(inputElement) {
        const password = passwordInput.value;
        const confirmPassword = inputElement.value;
        if (password !== confirmPassword) {
        document.getElementById('passwordMatchMessage').textContent = 'Las contraseñas no coinciden.';
        } else {
        document.getElementById('passwordMatchMessage').textContent = '';
        }
        }
    </script>
</html>
