<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="~{/fragments/head :: head}">    </head>


    <body>
        <header th:replace= "~{/fragments/header :: header}"> </header>




        <div class="container-fluid m-3 contenedor">

            <form class="form-control formulario" th:action="@{/usuario/usuario_modificar/__${usuario.id}__}" method="POST" enctype="multipart/form-data" >

                <input hidden th:value="${usuario.id}" name ="id">

                
                    <h3 class="card-title" style="color: #2a363b"> Modificar datos perfil </h3>
                

                <div class="form-group my-3" >
                    <img class="card-subtitle mb-2 text-muted rounded-circle" width="50" height="50" th:src="@{/imagen/perfil/__${usuario.id}__}"></img>
                </div> 

                <div class="form-group my-3">
                    <input type="text" class="form-control" name="nombre"  th:value="${usuario.nombre}">
                </div>

                <div class="form-group my-3">
                    <input type="text" class="form-control" name="apellido"  th:value="${usuario.apellido}">
                </div>

                <div class="form-group my-3">
                    <input type="email" class="form-control" name="email"  th:value="${usuario.email}">
                </div>

                <div class="form-group my-3">
                    <input type="text" class="form-control" name="rol" placeholder="ROL" th:value="${usuario.dni}">
                </div>
                    
                    <h4 class="card-title" style="color: #2a363b"> Valide sus claves para guardar los cambios </h4>

                <div class="form-group my-3">
                    <input type="password" class="form-control" name="password" placeholder="CONTRASEÑA" th:value="${usuario.password}">
                </div>

                <div class="form-group my-3">
                    <input type="password" class="form-control" name="password2" placeholder="REPETIR CONTRASEÑA">



                    <!--                <div class="form-group my-3">
                                        <input type="text" class="form-control" name="rol" placeholder="ROL" th:value="${usuario.rol}">
                                    </div>-->
                    
                    <div th:replace="~{/fragments/error:: errores1}"></div>

                    <div>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                        <a th:href="@{/}"><button type="button" class="btn btn-primary"> Volver </button> </a></div>
                </div>
            </form>


        </div>

        <footer th:replace="~{/fragments/footer :: footer}">    </footer>




        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>





<!--<!DOCTYPE html>

<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    >
    <head th:replace="/fragments/head :: head"></head>

    <body class="footer-alpiso d-flex flex-column">
        <header th:replace="/fragments/header :: header"></header>

        <main class="flex-grow-1 container-fluid">
            <div>
                <h1 style="color: azure">Mi perfil</h1>
            </div>
            <div class="container container-fluid  d-flex flex-wrap gap-3">
                <div class="card" style="width: 18rem;" >
                    <div class="card-body">

                        <h6>Imagen</h6>
                        <img class="card-subtitle mb-2 text-muted rounded-circle" width="50" height="50" th:src="@{/imagen/perfil/__${usuario.id}__}"></img>

                        <h5 class="card-title" th:text="${usuario.nombre} + ' '+ ${usuario.apellido}"></h5>

                        <h6>E-Mail</h6>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${usuario.email}"></h6>

                        <h6>DNI</h6>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${usuario.dni}"></h6>
                        <h6>Telefono</h6>
                        <p class="card-text" th:text="${usuario.telefono}"></p>

                        <a th:href="@{/usuario/modificar/__${usuario.id}__}" class="card-link">Modificar</a>
                    </div>
                </div>
            </div>




        </main>

        <footer th:replace="/fragments/footer :: footer"></footer>

        <script
            src="https://kit.fontawesome.com/183f2a4aef.js"
            crossorigin="anonymous"
        ></script>
    </body>

</html>-->