<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Soluciones Activas</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
        <link rel="stylesheet" href="/CSS/estiloscssSinAfectarCards.css" />
        <link rel="stylesheet" href="/CSS/estiloslogin.css">
        <script src="https://kit.fontawesome.com/183f2a4aef.js" crossorigin="anonymous"></script>
    </head>
    <body class="footer-alpiso" >

        <header th:replace="~{/fragments/header :: header}"></header>

        <div class="">
            <main class="">
                

                <section style="background-color: #443C68;">
                    <div class="container py-5">


                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card mb-4">
                                    <div class="card-body text-center">
                                         <p th:if="${usuario.fotoPerfil != null}"> <img  th:src="@{/imagen/perfil/__${usuario.id}__}" alt="avatar"
                                       class="" style="width: 150px;" ></p>
                                        <h5 class="my-3" th:value="${usuario.nombre} + ' '+ ${usuario.apellido}"></h5>
                                        <p class="text-muted mb-1" th:value="'DNI: '+${usuario.dni}"> </p>
                                        <p class="text-muted mb-4" th:value="'Tel: '+${usuario.telefono}"></p>

                                        <div class="d-flex justify-content-center mb-2">
                                            <!--                                            <a type="button" class="btn btn-warning" th:href="@{/usuario/modificar_perfil_usuario}" th:if="${session.usuariosession != null}">Modificar  </a>-->

                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-lg-8">
                                <div class="card mb-4">
                                    <div class="card-body">


                                        <form class="form-control" th:action="@{/admin/modificado_usuario/__${id}__}" method="POST" enctype="multipart/form-data" >

                                            <input hidden th:value="${id}" name ="id"/>

                                            <h4 class="form text-center" style="color: #2a363b"> Modificar Usuario </h4>


                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon1">Nombre</span>
                                                <input type="text" class="form-control" name="nombre"  th:value="${usuario.nombre}" aria-describedby="basic-addon1">
                                            </div>

                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon1">Apellido</span>
                                                <input type="text" class="form-control" name="apellido"  th:value="${usuario.apellido}" aria-describedby="basic-addon1">  
                                            </div>

                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon1">Email</span>
                                                <input type="email" class="form-control" name="email"  th:value="${usuario.email}">
                                            </div>

                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon1">D.N.I.</span>
                                                <input type="text" class="form-control" name="dni" placeholder="dni" th:value="${usuario.dni}">
                                            </div>

                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon1">Telefono</span>
                                                <input type="text" class="form-control" name="telefono" placeholder="telefono" th:value="${usuario.telefono}">
                                            </div>

                                            <div class="input-group mb-3">
                                                <input type="file" class="form-control mb-3" name="archivo">
                                            </div>

                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon1">Fecha Nacimiento</span>   
                                                <input required pattern="\d{4}-\d{2}-\d{2}" type="date" class="form-control" name="fechaNacimiento" min="1923-01-01"
                                                       max="3000-12-31" th:value="${usuario.fechaNacimiento}">
                                            </div>





                                            <p class=" mb-3 text-center" style="color: #2a363b"> Reseteo de Clave </p>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon1">Password</span>
                                                <input type="password" class="form-control" name="password" placeholder="****">
                                            </div>


                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon1">Password</span>
                                                <input type="password" class="form-control" name="password2" placeholder="****">
                                            </div>



                                            <div>
                                                <div th:replace="~{/fragments/error:: errores1}"></div>
                                                <button type="submit" class="btn btn-primary form-control mb-3">Guardar cambios</button>
                                                <hr>
                                                <a  class="btn btn-primary form-control mb-3" th:href="@{/}"> Volver  </a>



                                                <!--                                                <a  class="btn btn-danger form-control mb-3" th:href="@{/admin/dar_baja_usuario}"> Eliminar Cuenta Usuario </a>-->
                                            </div>



                                        </form>



                                    </div>
                                </div>   
                            </div>
                        </div>
                    </div>



                </section>








            </main>  
        </div>
        <footer th:replace="~{/fragments/footer :: footer}"></footer>

    </body>

</html>
