<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    >
    <head th:replace="/fragments/head :: head"></head>

    <body class="footer-alpiso d-flex flex-column">
        <header th:replace="/fragments/header :: header"></header>

        <main class="flex-grow-1 container-fluid">
            <div>
                <h2>Lista de Usuarios</h2>

                <!--                <table class="table table-dark">
                                    <thead>
                                        <tr>
                                            <th scope="col">Id del Usuario</th>
                                            <th scope="co1">Nombre del Usuario</th>
                                            <th scope="col">Apellido del Usuario</th>
                                            <th scope="col">DNI del Usuario</th>
                                                                            <th scope="co1">Modificar</th>
                                        </tr>
                                    </thead>
                                    <tbody th:each="usuario : ${usuarios}">
                                        <tr>
                                            <th scope="row" th:text="${usuario.id}"></th>
                                            <td th:text="${usuario.nombre} "></td>
                                            <td th:text="${usuario.apellido} "></td>
                                            <td th:text="${usuario.dni} "></td>
                                                                            <td><a th:href= "@{/usuario/modificar/__${usuario.id}__}"><i class=" fas fa-feather-alt"> </i> Modificar </a></td>
                                        </tr>
                                    </tbody>
                                </table>-->


                             <div class="card" style="width: 18rem;" th:each="usuario : ${usuarios}">
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="${usuario.nombre} + ' '+ ${usuario.apellido}"></h5>
                                        <h6>DNI</h6>
                                        <h6 class="card-subtitle mb-2 text-muted" th:text="${usuario.dni}"></h6>
                                        <h6>Telefono</h6>
                                        <p class="card-text" th:text="${usuario.telefono}"></p>
                                        <a th:href="@{/usuario/modificar/__${usuario.id}__}" class="card-link">Modificar</a>
                                    </div>
                                </div>



            </div>

        </main>

        <footer th:replace="/fragments/footer :: footer"></footer>

        <script
            src="https://kit.fontawesome.com/183f2a4aef.js"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
