<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="~{/fragments/head :: head}"></head>
  <body>
    <header th:replace="~{/fragments/header :: header}"></header>

    <main class="footer-alpiso">
      <section style="background-color: #443c68">
        <div class="container py-5">
          <div class="row">
            <div class="col">
              <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item"><a href="/inicio">Home</a></li>
                  <li class="breadcrumb-item">
                    <a href="/usuario/mi_perfil_usuario">Mi Perfil</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Modificar
                  </li>
                </ol>
              </nav>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                  <img
                    th:src="@{/imagen/perfil/__${usuario.id}__}"
                    alt="avatar"
                    class=""
                    style="width: 150px"
                    onerror="this.onerror = null; this.src='/IMG/USER.GIF'"
                  />
                  <h5
                    class="my-3"
                    th:text="${usuario.nombre} + ' '+ ${usuario.apellido}"
                  ></h5>
                  <p
                    class="text-muted mb-1"
                    th:text="'DNI: '+${usuario.dni}"
                  ></p>
                  <p
                    class="text-muted mb-4"
                    th:text="'Tel: '+${usuario.telefono}"
                  ></p>

                  <div class="d-flex justify-content-center mb-2">
                    <!--                                            <a type="button" class="btn btn-warning" th:href="@{/usuario/modificar_perfil_usuario}" th:if="${session.usuariosession != null}">Modificar  </a>-->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <form
                    class="form-control"
                    th:action="@{/usuario/usuario_modificar/__${usuario.id}__}"
                    method="POST"
                    enctype="multipart/form-data"
                  >
                    <input hidden th:value="${usuario.id}" name="id" />

                    <h4 class="form text-center" style="color: #2a363b">
                      Editar Datos Personales
                    </h4>

                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"
                        >Nombre</span
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="nombre"
                        th:value="${usuario.nombre}"
                        aria-describedby="basic-addon1"
                      />
                    </div>

                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"
                        >Apellido</span
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="apellido"
                        th:value="${usuario.apellido}"
                        aria-describedby="basic-addon1"
                      />
                    </div>

                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"
                        >Email</span
                      >
                      <input
                        type="email"
                        class="form-control"
                        name="email"
                        th:value="${usuario.email}"
                      />
                    </div>

                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"
                        >D.N.I.</span
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="dni"
                        placeholder="dni"
                        th:value="${usuario.dni}"
                      />
                    </div>

                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"
                        >Telefono</span
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="telefono"
                        placeholder="telefono"
                        th:value="${usuario.telefono}"
                      />
                    </div>

                    <div class="input-group mb-3">
                      <input
                        type="file"
                        class="form-control mb-3"
                        name="archivo"
                      />
                    </div>

                    <p
                      class="card-title mb-3 text-center"
                      style="color: #2a363b"
                    >
                      Valide sus claves para guardar los cambios
                    </p>

                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"
                        >Password</span
                      >
                      <input
                        type="password"
                        class="form-control"
                        name="password"
                        placeholder="****"
                      />
                    </div>

                    <button
                      type="button"
                      class="btn btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                      data-bs-whatever="@mdo"
                    >
                      Cambiar contraseña
                    </button>

                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"
                        >Password</span
                      >
                      <input
                        type="password"
                        class="form-control"
                        name="password2"
                        placeholder="****"
                      />
                    </div>

                    <div>
                      <p class="mb-3 text-center" style="color: #2a363b">
                        Recuerde Cerrar Sesion y volver a entrar para visualizar
                        los cambios
                      </p>
                      <button
                        type="submit"
                        class="btn btn-primary form-control mb-3"
                      >
                        Guardar cambios
                      </button>
                      <a
                        class="btn btn-primary form-control mb-3"
                        th:href="@{/}"
                      >
                        Volver
                      </a>

                      <hr />

                      <a
                        class="btn btn-danger form-control mb-3"
                        th:href="@{/usuario/dar_baja_usuario}"
                      >
                        Suspender mi cuenta y dejar de mostrar mi perfil
                      </a>
                    </div>

                    <div th:replace="~{/fragments/error:: errores1}"></div>
                  </form>

                  <div
                    th:replace="~{/fragments/actualizarclave :: modal-clave}"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!---Mis Contratos--->
      </section>
    </main>

    <footer th:replace="~{/fragments/footer :: footer}"></footer>
  </body>
</html>
